@model IEnumerable<EvedinceFinal.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Create Emaployee</h1>

<p>
    <a asp-action="Create" style="margin-left:980px" class="btn btn-info">Create New</a>
</p>
<table class="table" style="padding-left:100px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marital_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joining_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <img src="@("~/image/"+item.Image)" asp-append-version="true" width="50px" height="50px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marital_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Joining_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation.Designation_Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Employee_ID"  class="btn btn-secondary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Employee_ID"  class="btn btn-success">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Employee_ID"  class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
